@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': false, 'stickyStartAt': 53, 'stickySetTop': '-53px'}">
	<div class="header-body border-top-0 h-auto box-shadow-none">
		<div class="header-top border-0 bg-dark text-light">
			<div class="container-fluid px-lg-5 h-100">
				<div class="header-row h-100">
					<div class="header-column justify-content-start">
						<div class="header-row">
							<nav class="header-nav-top">
								<ul class="nav nav-pills">
									<li class="nav-item py-2 d-none d-sm-inline-flex pe-2">
										<span class="ps-0 font-weight-semibold text-color-light text-2 positive-ls-2">1234 Street Name, City Name</span>
									</li>
									<li class="nav-item py-2 pe-2">
										<a href="tel:123-456-7890" class="text-color-light text-2 positive-ls-2 text-color-hover-secondary font-weight-semibold">123-456-7890</a>
									</li>
									<li class="nav-item py-2 d-none d-md-inline-flex">
										<a href="https://www.okler.net/cdn-cgi/l/email-protection#5439353d3814303b39353d3a7a373b39" class="text-color-light text-2 positive-ls-2 text-color-hover-secondary font-weight-semibold"><span class="__cf_email__" data-cfemail="fc919d9590bc9893919d9592d29f9391">[email&#160;protected]</span></a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="header-column justify-content-end">
						<div class="header-row">
							<nav class="header-nav-top">
								<ul class="nav nav-pills p-relative bottom-2">
									<li class="nav-item py-2 d-none d-lg-inline-flex">
										<a href="http://www.facebook.com/" target="_blank" title="Facebook" class="text-color-light text-color-hover-secondary text-3 anim-hover-translate-top-5px transition-2ms"><i class="fab fa-facebook-f text-3 p-relative top-1"></i></a>
									</li>
									<li class="nav-item py-2 d-none d-lg-inline-flex">
										<a href="http://www.twitter.com/" target="_blank" title="Twitter" class="text-color-light text-color-hover-secondary text-3 anim-hover-translate-top-5px transition-2ms"><i class="fab fa-twitter text-3 p-relative top-1"></i></a>
									</li>
									<li class="nav-item py-2 d-none d-lg-inline-flex">
										<a href="http://www.instagram.com/" target="_blank" title="Instagram" class="text-color-light text-color-hover-secondary text-3 anim-hover-translate-top-5px transition-2ms"><i class="fab fa-instagram text-3 p-relative top-1"></i></a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-container header-container-height-sm container-fluid px-lg-5 p-static">
			<div class="header-row">
				<div class="header-column">
					<div class="header-row">
						<div class="header-logo">
							<a href="index-2.html">
								<img alt="Porto" width="123" height="32" src="ّّّ~/publicsite/img/demos/beauty-salon/logo.png">
							</a>
						</div>
					</div>
				</div>
				<div class="header-column justify-content-end justify-content-lg-start w-100">
					<div class="header-row">
						<div class="header-nav header-nav-line header-nav-bottom-line header-nav-bottom-line-effect-1 justify-content-lg-start ps-lg-5">
							<div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-dropdown-border-radius header-nav-main-arrows header-nav-main-full-width-mega-menu header-nav-main-mega-menu-bg-hover header-nav-main-effect-2">
								<nav class="collapse">
									<ul class="nav nav-pills" id="mainNav">
										<li>
											<a href="demo-beauty-salon.html" class="nav-link active">
												Home
											</a>
										</li>
										<li class="dropdown  d-none d-xl-block dropdown-mega">
											<a class="dropdown-item dropdown-toggle" href="elements.html">
												Elements
											</a>
											<ul class="dropdown-menu border-top border-top-light mt-0">
												<li>
													<div class="dropdown-mega-content container px-2">
														<div class="row px-1">
															<div class="col-lg-3">
																<span class="dropdown-mega-sub-title">Elements 1</span>
																<ul class="dropdown-mega-sub-nav">
																	<li><a class="dropdown-item" href="elements-accordions.html">Accordions</a></li>
																	<li><a class="dropdown-item" href="elements-alerts.html">Alerts</a></li>
																	<li><a class="dropdown-item" href="elements-animations.html">Animations</a></li>
																	<li><a class="dropdown-item" href="elements-arrows.html">Arrows</a></li>
																	<li><a class="dropdown-item" href="elements-badges.html">Badges</a></li>
																	<li><a class="dropdown-item" href="elements-before-after.html">Before / After</a></li>
																	<li><a class="dropdown-item" href="elements-blockquotes.html">Blockquotes</a></li>
																	<li><a class="dropdown-item" href="elements-buttons.html">Buttons</a></li>
																	<li><a class="dropdown-item" href="elements-call-to-action.html">Call to Action</a></li>
																	<li><a class="dropdown-item" href="elements-cards.html">Cards</a></li>
																	<li><a class="dropdown-item" href="elements-carousels.html">Carousels</a></li>
																	<li><a class="dropdown-item" href="elements-cascading-images.html">Cascading Images</a></li>
																</ul>
															</div>
															<div class="col-lg-3">
																<span class="dropdown-mega-sub-title">Elements 2</span>
																<ul class="dropdown-mega-sub-nav">
																	<li><a class="dropdown-item" href="elements-content-rotate.html">Content Rotate</a></li>
																	<li><a class="dropdown-item" href="elements-countdowns.html">Countdowns</a></li>
																	<li><a class="dropdown-item" href="elements-counters.html">Counters</a></li>
																	<li><a class="dropdown-item" href="elements-dividers.html">Dividers</a></li>
																	<li><a class="dropdown-item" href="elements-forms.html">Forms</a></li>
																	<li><a class="dropdown-item" href="elements-headings.html">Headings</a></li>
																	<li><a class="dropdown-item" href="elements-icons.html">Icons</a></li>
																	<li><a class="dropdown-item" href="elements-icon-boxes.html">Icon Boxes</a></li>
																	<li><a class="dropdown-item" href="elements-image-frames.html">Image Frames</a></li>
																	<li><a class="dropdown-item" href="elements-image-gallery.html">Image Gallery</a></li>
																	<li><a class="dropdown-item" href="elements-image-hotspots.html">Image Hotspots</a></li>
																	<li><a class="dropdown-item" href="elements-lightboxes.html">Lightboxes</a></li>
																</ul>
															</div>
															<div class="col-lg-3">
																<span class="dropdown-mega-sub-title">Elements 3</span>
																<ul class="dropdown-mega-sub-nav">
																	<li><a class="dropdown-item" href="elements-lists.html">Lists</a></li>
																	<li><a class="dropdown-item" href="elements-maps.html">Maps</a></li>
																	<li><a class="dropdown-item" href="elements-medias.html">Medias</a></li>
																	<li><a class="dropdown-item" href="elements-modals.html">Modals</a></li>
																	<li><a class="dropdown-item" href="elements-parallax.html">Parallax</a></li>
																	<li><a class="dropdown-item" href="elements-particles.html">Particles</a></li>
																	<li><a class="dropdown-item" href="elements-posts.html">Posts</a></li>
																	<li><a class="dropdown-item" href="elements-pricing-tables.html">Pricing Tables</a></li>
																	<li><a class="dropdown-item" href="elements-process.html">Process</a></li>
																	<li><a class="dropdown-item" href="elements-progressbars.html">Progress Bars</a></li>
																	<li><a class="dropdown-item" href="elements-random-images.html">Random Images</a></li>
																	<li><a class="dropdown-item" href="elements-read-more.html">Read More</a></li>
																</ul>
															</div>
															<div class="col-lg-3">
																<span class="dropdown-mega-sub-title">Elements 4</span>
																<ul class="dropdown-mega-sub-nav">
																	<li><a class="dropdown-item" href="elements-sections.html">Sections</a></li>
																	<li><a class="dropdown-item" href="elements-shape-dividers.html">Shape Dividers</a></li>
																	<li><a class="dropdown-item" href="elements-star-ratings.html">Star Ratings</a></li>
																	<li><a class="dropdown-item" href="elements-sticky-elements.html">Sticky Elements</a></li>
																	<li><a class="dropdown-item" href="elements-tables.html">Tables</a></li>
																	<li><a class="dropdown-item" href="elements-tabs.html">Tabs</a></li>
																	<li><a class="dropdown-item" href="elements-testimonials.html">Testimonials</a></li>
																	<li><a class="dropdown-item" href="elements-toggles.html">Toggles</a></li>
																	<li><a class="dropdown-item" href="elements-tooltips-popovers.html">Tooltips & Popovers</a></li>
																	<li><a class="dropdown-item" href="elements-typography.html">Typography</a></li>
																	<li><a class="dropdown-item" href="elements-word-rotator.html">Word Rotator</a></li>
																	<li><a class="dropdown-item" href="elements-360-image-viewer.html">360º Image Viewer</a></li>
																</ul>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</li>
										<li>
											<a class="nav-link" href="demo-beauty-salon-about.html">
												About
											</a>
										</li>
										<li>
											<a class="nav-link" href="demo-beauty-salon-services.html">
												Services
											</a>
										</li>
										<li>
											<a class="nav-link" href="demo-beauty-salon-gallery.html">
												Gallery
											</a>
										</li>
										<li>
											<a class="nav-link" href="demo-beauty-salon-blog.html">
												Blog
											</a>
										</li>
										<li>
											<a class="nav-link" href="demo-beauty-salon-contact.html">
												Contact
											</a>
										</li>
										<li>
											<a class="nav-link" href="demo-beauty-salon-book-now.html">
												<strong>Book Now</strong>
											</a>
										</li>
									</ul>
								</nav>
							</div>
							<button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
								<i class="fas fa-bars"></i>
							</button>
						</div>
						<div class="header-nav-features header-nav-features-no-border pe-3 order-1 order-lg-2">							
							<div class="header-nav-feature header-nav-features-search d-inline-flex">									
						<a href="#" class="header-nav-features-toggle text-decoration-none" data-focus="headerSearch"><i class="fas fa-search header-nav-top-icon text-4"></i></a>										
						<div class="header-nav-features-dropdown" id="headerTopSearchDropdown">												
							<form role="search" action="https://www.okler.net/previews/porto/9.9.0/page-search-results.html" method="get">										
								<div class="simple-search input-group">														
									<input class="form-control text-1" id="headerSearch" name="q" type="search" value="" placeholder="Search...">													
									<button class="btn" type="submit">															<i class="fas fa-search header-nav-top-icon"></i>														</button>													</div>												</form>											</div>										</div>									</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>