<!DOCTYPE html>
<html id="htmlRoot" data-style-switcher-options="{'changeLogo': false, 'borderRadius': 0, 'colorPrimary': '#222529', 'colorSecondary': '#d7d6d6', 'colorTertiary': '#F4F4F4', 'colorQuaternary': '#c3c2c2'}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Demo Beauty Salon | Porto - Multipurpose Website Template</title>

    <meta name="keywords" content="WebSite Template" />
    <meta name="description" content="Porto - Multipurpose Website Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="ّ~/publicsite/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/publicsite/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins%3A200%2C300%2C400%2C500%2C600%2C700%2C800%7CPlayfair+Display%3A200%2C300%2C400%2C400italic%2C500%2C600%2C700%2C700italic%2C800%2C900italic&amp;display=swap" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link href="~/publicsite/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/publicsite/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/publicsite/vendor/animate/animate.compat.css" rel="stylesheet" />
    <link href="~/publicsite/vendor/simple-line-icons/css/simple-line-icons.min.css" rel="stylesheet" />
    <link href="~/publicsite/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/publicsite/vendor/owl.carousel/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/publicsite/vendor/magnific-popup/magnific-popup.min.css" rel="stylesheet" />

    <!-- Theme CSS -->
    <link href="~/publicsite/css/theme.css" rel="stylesheet" />
    <link href="~/publicsite/css/theme-elements.css" rel="stylesheet" />
    <link href="~/publicsite/css/theme-blog.css" rel="stylesheet" />
    <link href="~/publicsite/css/theme-shop.css" rel="stylesheet" />

    <!-- Demo CSS -->
    <link href="~/publicsite/css/demos/demo-beauty-salon.css" rel="stylesheet" />


    <!-- Skin CSS -->
    <link id="skinCSS" href="~/publicsite/css/skins/skin-beauty-salon.css" rel="stylesheet" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="ّ~/publicsite/css/custom.css">

    <!-- Head Libs -->
    <script src="ّ~/publicsite/vendor/modernizr/modernizr.min.js"></script>
    <link href="~/css/css_rtl/arabicfont.css" rel="stylesheet" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42715764-11"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-42715764-11');
    </script>
</head>
<body>
    <div class="body">
    <partial name="_Header" />
    <div role="main" class="main">

        @RenderBody()

			</div>
   
   <partial name="_Footer" />
    </div>
   <a class="style-switcher-open-loader" href="#" data-base-path="" data-skin-src="master/less/skin-beauty-salon.less" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="right" title="Style Switcher"><i class="fas fa-cogs"></i><div class="style-switcher-tooltip"><strong>Style Switcher</strong><p>Check out different color options and styles.</p></div></a>
		
		<a class="envato-buy-redirect" href="https://themeforest.net/checkout/from_item/4106987?license=regular&amp;support=bundle_6month&amp;ref=Okler" target="_blank" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="right" title="Buy Porto"><i class="fas fa-shopping-cart"></i></a>
    <a class="demos-redirect" href="index-2.html#demos" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="right" title="Demos"><img src="~/publicsite/img/icons/demos-redirect.png" class="img-fluid" /></a>
		

		<!-- Vendor -->		<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/publicsite/vendor/plugins/js/plugins.min.js"></script>
    <script src="~/publicsite/vendor/gsap/gsap.min.js"></script>

		<!-- Theme Base, Components and Settings -->
    <script src="~/publicsite/js/theme.js"></script>

		<!-- Current Page Vendor and Views -->
    <script src="~/publicsite/js/views/view.contact.js"></script>

		<!-- Theme Initialization Files -->
    <script src="~/publicsite/js/theme.init.js"></script>

	<!-- Demo -->
    <script src="~/publicsite/js/demos/demo-beauty-salon.js"></script>
</body>
</html>