@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="home-intro" id="home-intro" style="background-color:#85CAE6 ;color:#000; margin:0 !important;  ">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-lg-8">
                <p>
                    @sharedResource["Select Suitable Service and Suitable Barber For Your Kids"]<span class="highlighted-word">@sharedResource["Just 4 Kids"]</span>
                    @*<span>@sharedResource["Reserve Now."]</span>*@
                </p>
            </div>
            <div class="col-lg-4">
                <div class="get-started text-start text-lg-end">
                    <a href="/AppoimentServices" style="background-color:#FCCF02;color:#000  " class="btn btn-lg text-3 font-weight-semibold px-4 py-3">@sharedResource["Make Appoiment Now"]</a>
                </div>
            </div>
        </div>

    </div>
</div>